<form action=  "<%= action_url %>" method= "POST">
    <input type="hidden" name="authenticity_token" value= "<%= form_authenticity_token %> ">

    <h1> <%=form_type %> </h1>
    <h3>Email</h3>
    <input type="email" name= "user[email]">
    
    <h3>Password</h3>
    <input type="password" name= "user[password]">
    
    <input type = "submit" value = "Create User">

    <% if flash.now[:errors] %>
        <ul>
        <% flash.now[:errors].each do |error|%>
            <li><%= error %></li>
        <% end %>
        </ul>
    <% end %>
    <br><br>
</form>

   <%if form_type == 'signup' %>
        <h3>Already have an account?</h3>
        <form action="<%= new_session_url %>">
            <input type="hidden" name="authenticity_token" value= "<%= form_authenticity_token %> ">
            <input type="submit" value="login">
        </form>
        
    <% else %>
        <h3>Need to sign up for an account?</h3>
        <form action="<%= new_user_url %>">
            <input type="hidden" name="authenticity_token" value= "<%= form_authenticity_token %> ">
            <input type="submit" value="signup">
        </form>
    <% end %>